.ednewinfo2maincontainer {
    /* width: 100vw; */
    margin-top: 15vh;
}

.ednewinfo2childcontainer {
    width: 65vw;
    margin: auto;
}

.ednewinfo2div1 {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.ednewinfo2div2 {
    margin: 4vh 0;
    animation: slideInLeft linear;
    animation-timeline: view(y);
    animation-range-start: 10px;
    animation-range-end: 250px;
    transition: .3s;
}

.ednewinfo2div2 img {
    width: 100%;
}

.ednewinfo1header {
    font-size: 2.5rem;
    font-weight: 600;
    color: #0eaae3;
    animation: slideInLeft linear;
    animation-timeline: view(y);
    animation-range-start: 10px;
    animation-range-end: 250px;
    transition: .3s;
}

.ednewinfo1description {
    font-size: 1.6rem;
    color: rgb(53, 53, 53);
    animation: slideInRight linear;
    animation-timeline: view(y);
    animation-range-start: 10px;
    animation-range-end: 250px;
    transition: .3s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(250px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(250px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}