.ednewinfomaincontainer{
    width: 65vw;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    margin-bottom: 3vh;
}

.ednewinfodiv1{
    width: 50%;
}

.ednewinfodiv2{
    width: 50%;
    transition: transform .3s ease-in-out;
}

.ednewinfodiv2 img{
    width: 100%;
    transform: translateY(4vh);
    transition: transform .3s ease-in-out;
}

.ednewinfomainheader{
    margin: 5vh 0vw;
    font-size: 2.5rem;
    color: #0eaae3;
}

.ednewinfomainlists{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.ednewinfomainlist{
    font-size: 1.6rem;
    color: rgb(53, 53, 53);
    animation: fadein linear;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 200px;
}

.ednewinfomainlist .ednewinfomainlistheader{
    font-weight: 600;
}

@keyframes fadein {
    from {
        scale: .8;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}