.homeheromaincontainer {
  background-color: #191A1A;
  /* background-image: linear-gradient(180deg, #e1f5fe 0%, #ffffff 100%); */
  width: 100%;
  height: 80vh;
  z-index: 0;
  padding-top: 13vh;
}

@media only screen and (max-width : 455px){
  .homeheromaincontainer{
    /* display: none; */
    height: 50vh;
    padding-top: 10vh;
  }

  
}