.edqandamaincontainer{
    width: 90vw;
    margin: 2vh auto;
}

.edqandachildcontainer{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 4vh;
}

.edqandacontainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.edqandaquestion{
    font-size: 1.5rem;
    font-weight: 600;
}

.edqandaanswer{
    font-size: 1.2rem;
}